{{template "base" .}}

{{define "content"}}
    <div class="col-offset-4 col-4">
        {{ $email := index .Data "email" }}
        <form method="post" action="/register">
            <input name="csrf_token" type="hidden" value="{{ .CsrfToken }}">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                {{with .Form.Errors.Get "email"}}
                    <small class="text-danger d-block">{{.}}</small>
                {{end}}
                <input name="email" type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ $email }}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                {{with .Form.Errors.Get "password"}}
                    <small class="text-danger d-block">{{.}}</small>
                {{end}}
                <input name="password" type="password" class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                {{with .Form.Errors.Get "confirm-password"}}
                    <small class="text-danger d-block">{{.}}</small>
                {{end}}
                <input name="confirm-password" type="password" class="form-control {{with .Form.Errors.Get "confirm-password"}} is-invalid {{end}}" id="exampleInputPassword2">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{{end}}
